<p>
	Name: <%= recommendation.name %><br>
	Cuisine: <%= recommendation.cuisine %><br>
	Location: <%= recommendation.location %><br>
	Description: <%= recommendation.description %><br>
	Recommended by: <%= recommendation.user.username %>
	<br>
	<br>
</p>
