<h2>Hey <%= @user.username %>!</h2>

<br>
<br>

<h4>Recommendations:</h4>
<% @recommendations.each do |rec| %>
<p>Name: <%= rec.name %></p><br>
<p>Cuisine: <%= rec.cuisine %></p><br>
<p>City: <%= rec.city %></p><br>
<p>Description: <%= rec.description %></p><br>
<p>Location: <%= rec.address %></p><br>
<p>Recommended by <%= rec.username %></p>
<br>
<br>
<br>
<% end %>

<br>
<br>

<%= link_to "Recommend a Place", new_recommendation_path %>

<br>
<br>
<br>
<br>
<br>

<a href="/logout">Logout</a>
